train_input_path: "recommendation/data/train.csv"
eval_input_path: "recommendation/data/test.csv"
model_dir: "recommendation/models/bst_1500_e7000"

train_config {
  optimizer_config: {
    adam_optimizer: {
      learning_rate: {
        exponential_decay_learning_rate {
          initial_learning_rate: 0.001
          decay_steps: 1000
          decay_factor: 0.5
          min_learning_rate: 0.00001
        }
      }
    }
    use_moving_average: false
  }
  log_step_count_steps: 100
  save_checkpoints_steps: 100
  sync_replicas: True
  num_steps: 1500
}

eval_config {
  metrics_set: {
    mean_absolute_error {}
  }
  metrics_set: {
    mean_squared_error {}
  }
}

data_config {
  input_fields {
    input_name:'user_id'
    input_type: INT32
  }
  input_fields {
    input_name:'username'
    input_type: STRING
  }
  input_fields {
    input_name: 'gender'
    input_type: STRING
  }
  input_fields {
    input_name: 'interest_type'
    input_type: STRING
  }
  input_fields {
    input_name: 'sentiment_rating'
    input_type: DOUBLE
  }
  input_fields {
    input_name: 'info_id'
    input_type: INT32
  }
  input_fields {
    input_name: 'director'
    input_type: STRING
  }
  input_fields {
    input_name: 'writer'
    input_type: STRING
  }
  input_fields {
    input_name: 'star'
    input_type: STRING
  }
  input_fields {
    input_name: 'language'
    input_type: STRING
  }
  input_fields {
    input_name: 'company'
    input_type: STRING
  }
  input_fields {
    input_name: 'country'
    input_type: STRING
  }
  input_fields {
    input_name: 'type'
    input_type: STRING
  }
  input_fields {
    input_name: 'liked'
    input_type: STRING
  }
  input_fields {
    input_name: 'favorited'
    input_type: STRING
  }
  input_fields {
    input_name: 'liked_sequence'
    input_type: STRING
  }
  input_fields {
    input_name: 'favorited_sequence'
    input_type: STRING
  }

  label_fields: 'sentiment_rating'
  batch_size: 1024
  num_epochs: 7000
  prefetch_size: 32
  shuffle: True
  input_type: CSVInput
}

feature_config: {
  features: {
    input_names: 'user_id'
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 50000
  }
  features: {
    input_names: 'gender'
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 10
  }
  features: {
    input_names: 'interest_type'
    feature_type: TagFeature
    separator: '|'
    embedding_dim: 16
    hash_bucket_size: 1000
  }
  features: {
    input_names: 'info_id'
    feature_type: IdFeature
    embedding_dim: 16
    hash_bucket_size: 100000
  }
  features: {
    input_names: 'type'
    feature_type: TagFeature
    separator: '|'
    embedding_dim: 16
    hash_bucket_size: 10000
  }
  features: {
     input_names: 'liked_sequence'
     feature_type: SequenceFeature
     separator: '|'
     hash_bucket_size: 100000
     embedding_dim: 16
  }
  features: {
     input_names: 'favorited_sequence'
     feature_type: SequenceFeature
     separator: '|'
     hash_bucket_size: 100000
     embedding_dim: 16
  }
}
model_config:{
  model_class: "MultiTowerBST"
  feature_groups: {
    group_name: 'user'
    feature_names: 'user_id'
    feature_names: 'gender'
    feature_names: 'interest_type'
    wide_deep: DEEP
  }
  feature_groups: {
    group_name: 'item'
    feature_names: 'info_id'
    feature_names: 'type'
    wide_deep: DEEP
  }
  seq_att_groups: {
    group_name: "bst_like"
    seq_att_map: {
       key: "info_id"
       hist_seq: "liked_sequence"
    }
  }
  seq_att_groups: {
    group_name: "bst_favo"
    seq_att_map: {
       key: "info_id"
       hist_seq: "favorited_sequence"
    }
  }
  multi_tower {
    towers {
      input: "user"
      dnn {
        hidden_units: [256, 128, 96, 64]
      }
    }
    towers {
      input: "item"
      dnn {
        hidden_units: [256, 128, 96, 64]
      }
    }
    bst_towers {
      input: "bst_like"
      seq_len: 50
      multi_head_size: 4
    }
    bst_towers {
      input: "bst_favo"
      seq_len: 50
      multi_head_size: 4
    }
    final_dnn {
      hidden_units: [128, 96, 64, 32, 16]
    }
    l2_regularization: 5e-7
  }
  embedding_regularization: 5e-5
  loss_type: L2_LOSS
}

export_config {
}
